.order-container {
    max-width: 800px;
    margin: auto;
    font-family: Arial, sans-serif;
    padding: 10px;
}
.order-header h1 {
    font-size: 24px;
    color: #333;
    text-align: center;
    margin: 10px 0;
}
.order-header p {
    font-size: 16px;
    color: #666;
    text-align: center;
    margin: 0;
}
.order-summary {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
.order-summary th, .order-summary td {
    padding: 10px;
    text-align: left;
    font-size: 16px;
}
.order-summary th {
    background-color: #b1f0ca;
    font-weight: bold;
    border-radius: 3px;
}
.order-summary td {
    border-bottom: 1px solid #ddd;
}
.order-summary .total-row {
    font-weight: bold;
}
.order-summary .total-row td {
    border-top: 1px solid #ddd;
}
.footer {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer div {
    font-size: 16px;
}
.footer div span {
    font-weight: bold;
}
.order-container button {
    background-color: #00a99d;
    color: white;
    border: none;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
}

.order-container button:hover {
    background-color: #008f85;
}
@media (min-width: 600px) {
    .footer {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }
}
@media (max-width: 600px) {
    .order-header h1 {
        font-size: 20px;
    }
    .order-summary th, .order-summary td {
        font-size: 14px;
        padding: 8px;
    }
    .footer div {
        font-size: 14px;
    }
}