html,
body {
    overflow-x: hidden;
}


/* Loader styles */
.loader {
    display: none;
    /* Awalnya sembunyikan loader */
    position: fixed;
    /* Posisi tetap */
    top: 50%;
    /* Posisi vertikal di tengah */
    left: 50%;
    /* Posisi horizontal di tengah */
    transform: translate(-50%, -50%);
    /* Agar tepat di tengah */
    z-index: 9999;
    /* Pastikan di atas semua konten */
}

.loader img {
    width: 100px;
    /* Ukuran gambar loader */
    height: 100px;
    /* Ukuran gambar loader */
}


/* Font */
.font-roboto {
    font-family: 'Roboto', sans-serif;
}

.font-dm-sans {
    font-family: 'DM Sans', sans-serif;
}

/* Navbar styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.navbar-logo {
    display: flex;
    align-items: center;
}

.logo {
    width: 40px;
    height: 40px;
    margin-right: 0.5rem;
}

.logo-text {
    margin-left: 0.5rem;
    font-size: 1.25rem;
    font-weight: 700;
}

.navbar-menu {
    display: flex;
    align-items: center;
    gap: 1rem;
}

/* tooltip */
.profile-link {
    position: relative;
    /* Untuk positioning tooltip */
    display: inline-block;
    /* Agar tooltip dapat diposisikan dengan benar */
}

.tooltip {
    visibility: hidden;
    /* Sembunyikan tooltip secara default */
    width: 60px;
    /* Lebar tooltip */
    background-color: rgb(190, 241, 210);
    /* Warna latar belakang tooltip */
    color: black;
    /* Warna teks tooltip */
    font-weight: 500;
    text-align: center;
    /* Teks di tengah */
    border-radius: 5px;
    /* Sudut melengkung */
    padding: 5px;
    /* Ruang di dalam tooltip */
    position: absolute;
    /* Posisi absolut */
    z-index: 1;
    /* Agar tooltip muncul di atas elemen lain */
    top: 100%;
    /* Tempatkan di bawah ikon */
    left: 50%;
    /* Pusatkan secara horizontal */
    margin-left: -30px;
    /* Pindahkan ke kiri setengah dari lebar tooltip */
    opacity: 0;
    /* Sembunyikan tooltip */
    transition: opacity 0.3s;
    /* Transisi untuk efek muncul */
}

.profile-link:hover .tooltip {
    visibility: visible;
    /* Tampilkan tooltip saat dihover */
    opacity: 1;
    /* Ubah opacity untuk efek muncul */
}

.menu-link {
    color: #4a5568;
}

.logout-button {
    background-color: #009688;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    display: none;
}

.logout-button.desktop-only {
    display: inline-block;
}

.hamburger-button {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
}


.menu-icon {
    color: #4a5568;
    font-size: 1.5rem;
}

/* Mobile menu styling */
.mobile-menu {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    background-color: #f9f9f9;
    position: fixed;
    width: 100%;
    top: 60px;
    /* Place menu right below the navbar */
    z-index: 9;
}

/* Default hidden state for mobile menu */
.hidden {
    display: none;
}

.mobile-menu a {
    text-align: center;
}

/* Mobile-only styles */
.mobile-only {
    display: none;
}

/* Responsive styles */
@media (max-width: 768px) {

    /* Show 'Hubungi Kami' only on mobile */
    .mobile-only {
        display: inline-block;
    }

    /* Hide desktop icons on mobile */
    .user-icon.desktop-only,
    .menu-icon.desktop-only,
    .logout-button.desktop-only {
        display: none;
    }

    /* Show hamburger menu button on mobile */
    .hamburger-button {
        display: block;
        z-index: 11;
        /* Ensure hamburger button is on top */
    }

    /* Hide desktop menu on mobile */
    .navbar-menu {
        display: none;
    }
}

/* Show mobile menu on mobile screens when it is not hidden */
@media (max-width: 767px) {
    .mobile-menu.hidden {
        display: none;
    }

    .mobile-menu {
        display: flex;
    }
}

/* Adjust main content to account for fixed navbar height */
.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 4rem;
    width: 100%;
    box-sizing: border-box;
}

/* Hero Section */
.hero {
    width: 100%;
    min-height: 80vh;
    background-image: url('../assets/img/tf.png');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem;
    position: relative;
    z-index: 1;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: -1;
}


.hero-text {
    color: #FFFFFF;
    margin-bottom: 1rem;
    margin-top: 4rem;
    font-size: 20px;

}

.hero-title {
    font-size: 50px;
    font-weight: 500;
    color: #FFFFFF;
    margin-bottom: 1rem;
}

.hero-services {
    display: flex;
    align-items: center;
}

.service-category {
    background-color: #FFF;
    color: #008B52;
    padding: 0 10px 0 10px;
    font-size: 50px;
    font-weight: bold;
    border-radius: 3px;
    font-family: 'DM Sans', sans-serif;
    display: inline-block;
    overflow: hidden;
    border-right: 3px solid #008B52;
    white-space: nowrap;
    animation: ketikan 4s steps(20) 1s 1 normal forwards, kedip 500ms steps(20) infinite normal, reset 4s steps(20) 5s 1 normal forwards;
}

@keyframes ketikan {
    from {
        width: 0;
    }

    to {
        width: 2.5em;
    }
}

@keyframes kedip {
    from {
        border-right-color: #009688;
    }

    to {
        border-right-color: transparent;
    }
}

.service-title {
    font-size: 50px;
    color: #FFFFFF;
    margin-left: 0.5rem;
    font-weight: 500;
    font-family: 'DM Sans', sans-serif;
}

.hero-description {
    color: #FFFFFF;
    margin-top: 1rem;
    max-width: 40rem;
    margin-bottom: 2rem;
    font-size: 15px;
}

/* Services Intro */
.services-intro {
    text-align: center;
    margin-top: 2rem;
}

.services-title {
    font-size: 40px;
    color: #4a5568;
}

.services-description {
    color: #595f67;
    margin-top: 0.5rem;
}

/* Service Options */
.service-options {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 1rem;
}

.service-options span {
    cursor: pointer;
}

.service-tab {
    position: relative;
    cursor: pointer;
    padding-bottom: 5px;
}

.service-tab.active {
    color: #38b2ac;
    font-weight: 600;
    padding-bottom: 15px;
    border-bottom: 2px solid #38b2ac;
}

.service-inactive {
    color: #a0aec0;
}

.service-tab::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #38b2ac;
    /* Warna garis border */
    transform: scaleX(0);
    /* Garis tidak terlihat awalnya */
    transition: transform 0.3s ease-in-out;
    /* Transisi saat hover */
}

.service-tab.active::after,
.service-tab:hover::after {
    transform: scaleX(1);
    /* Garis muncul saat tab aktif atau hover */
}

/* Card */
.card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    padding: 1rem;
}

.card {
    background-color: #319795;
    border-radius: 0.5rem;
    padding: 1rem;
    text-align: center;
    color: #fff;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
}

.card-title {
    font-size: 1.125rem;
    font-weight: 700;
}

.rating .star-icon {
    color: #ecc94b;
}

.card-image {
    width: 100%;
    height: 12rem;
    object-fit: cover;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-price {
    font-size: 1.125rem;
    font-weight: 600;
}

.order-button {
    background-color: #fff;
    color: #319795;
    font-weight: 700;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
}

.order-button:hover {
    background-color: #4ce1de;
    color: #fff;
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}

/* Media Queries for Responsiveness */

/* Mobile Devices */
@media (max-width: 640px) {
    .navbar-menu {
        display: none;
        /* Hide the navbar menu on small screens */
    }

    .navbar {
        padding: 0.75rem;
    }

    .logo-text {
        font-size: 1rem;
    }

    .hero {
        padding: 2rem 1rem;
    }

    .hero-title {
        font-size: 1.75rem;
    }

    .services-title {
        font-size: 1.75rem;
    }

    .services-description {
        font-size: 0.75rem;
    }

    .service-category,
    .service-title {
        font-size: 1.5rem;
    }

    .service-options span {
        font-size: 0.75rem;
    }

    .card-image {
        height: auto;
    }

    .card-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Tablets */
@media (min-width: 641px) and (max-width: 1024px) {
    .navbar-menu {
        display: none;
        gap: 0.5rem;
        /* Reduced gap on medium screens */
    }

    .hamburger-button {
        display: block;
        z-index: 11;
    }

    .hero {
        padding: 3rem 2rem;
    }

    .hero-title {
        font-size: 50px;
    }

    .card-container {
        grid-template-columns: repeat(3, 1fr);
        /* Two columns for cards */
    }
}

/* Desktops */
@media (min-width: 1025px) {
    .navbar-menu {
        display: flex;
        gap: 1rem;
    }

    .hero {
        padding: 4rem;
    }

    .card-container {
        grid-template-columns: repeat(4, 1fr);
        /* Four columns for cards */
    }
}

/* Perbaikan untuk tampilan layar sangat kecil (maks 480px) */
@media (max-width: 1024px) {
    .main-content{
        padding-left: 1rem;
        padding-right: 1rem;
    }
}
@media (max-width: 480px) {

    p{
        padding-top: 0%;
    }
    .main-content {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .hero {
        margin-left: -1rem;
        margin-right: -1rem;
        padding-left: 0;
        padding-right: 0;
        width: 100vw;
        position: relative;
    }

    .hero-title,
    .service-title {
        font-size: 1.5rem;
    }

    .service-category {
        font-size: 1.25rem;
    }

    .hero-description {
        font-size: 0.75rem;
        padding: 0 1rem;
    }

    .services-title {
        font-size: 1.5rem;
    }

    .services-description {
        font-size: 0.75rem;
    }

    .card-container {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: space-between;
    }

    .card {
        flex: 0 0 calc(50% - 0.5rem);
        /* 2 card per baris */
        box-sizing: border-box;
    }

    .card-title, .rating, .card-price {
        font-size: 0.8rem;
    }
    .card-footer {
        flex-direction: column;
        gap: 0.5rem;
    }

    .order-button {
        width: 55%px;
    }
    .card-footer button{
        font-size: 0.7rem;
    }
}